In [1]:
import numpy as np

## Datatype and Attributes

In [2]:
# Numpy's main datatype is ndarray 
a1 = np.array([1,2,3])

In [3]:
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [17]:
a2 = np.array([[1,2,3.6],
             [6.4,5,8.9]])

a3 = np.array([[[1,2,3],
              [4,5,6],
              [7,8,9]],
             [[10,11,12],
             [13,14,15],
             [16,17,18]]])

In [9]:
a2

array([[1. , 2. , 3.6],
       [6.4, 5. , 8.9]])

In [18]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [19]:
a3.shape

(2, 3, 3)

In [30]:
a2.shape

(2, 3)

In [20]:
 a1.ndim ,a2.ndim, a3.ndim

(1, 2, 3)

In [21]:
a3.dtype

dtype('int64')

In [22]:
a1.size, a2.size, a3.size

(3, 6, 18)

# Create a Dataframe from NumPy array

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(a2)

In [25]:
df

     0    1    2
0  1.0  2.0  3.6
1  6.4  5.0  8.9

In [27]:
df2 = pd.DataFrame(a1)

In [28]:
df2

   0
0  1
1  2
2  3

## 2. Creating Arrays

In [38]:
ones = np.ones((2,3,3))

In [39]:
ones

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [45]:
zeros = np.zeros((2,3,2))

In [46]:
zeros

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [52]:
range_array = np.arange(2,10,2)

In [53]:
range_array

array([2, 4, 6, 8])

In [63]:
random_array = np.random.randint(1,9,(2,2))

In [64]:
random_array

array([[6, 6],
       [5, 2]])

In [ ]:
# Pseudo-random numbers
np.random.seed()